
// Bootstrap Variables
// $icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
// @import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Import Materialize
@import '../../node_modules/materialize-sass/sass/materialize.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: #00838f;
}
.background{
  background-image: url(images/woodgrain.jpg);
  background-size: cover;
}
.container {
  background-color: #00838f;
}
// ** styling for splash page ** //
nav a{
  color: blue;
  float: right;
  display: inline-block;
}
nav h4{
  color: lightgrey;
  display: inline-block;
}

.banner{
  background-image: url('../images/lavender-trees.jpg');
  background-size: cover;
}

h1{
  color: white;
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
  text-shadow: 2px 2px 5px #000;
}

.banner h5{
  color: white;
  text-align: center;
  text-shadow: 1px 1px 3px #000;
}

.habit-info{
  color: white;
}

// ** styling for habits page ** //

h3, h4, h5 {
  color: white;
}

.profilepic {
  flex: 1;
  height: 100px;
}

.username {
  display: inline-block;
  color: white;
  font-size: 25px;
  padding-left: 15px;
  padding-bottom: 10px;
}

.edit{
  color: #B1DCDE;
  padding-left: 5px;
  font-size: 20px;
}

#habit-text {
  font-size: 22px;
}

.check {
  color: #00FC75;
  padding-left: 18px;
}

.check-off {
  color: white;
  font-size: 20px;
  padding: 15px;
}
.others {
  background-color: #70BBBF;
  color: #00838F;
}
.search {
  font-size: 30px;
  padding-right: 10px;
}
// ** styling for habit detail page ** //
.habit-detail label {
  color: yellow;
  font-size: 18px;
}

.habit-detail {
  color: white;
  font-size: 18px;
}

.stars-list {
  font-size: 15px;
}

.stars {
  display: inline-block;
  color: green;
}

.searchAdd{
  color: #24282F;
}

.articles h6{
  color: white;
  padding-top: 7px;
}
// ** styling for challenges page ** //
.participants h6 {
  color: #24282F;
}
.challenge {
  color: #009587;
}
// ** styling for navbar ** //
.navbar {
  background-color: #70BBBF;
}

// ** styling for modals ** //

label {
  font-size: 16px;

}
