
// Bootstrap Variables
// $icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
// @import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Import Materialize
@import '../../node_modules/materialize-sass/sass/materialize.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-image: url("../images/woodgrain.jpg");
  background-size: cover;
}

.main {
  background-color: #00838f;
  padding: 35px;
}
// ** styling for splash page ** //
// nav a{
//   color: blue;
//   float: right;
//   display: inline-block;
// }
// nav h4{
//   color: lightgrey;
//   display: inline-block;
// }

.banner{
  background-image: url('../images/lavender-trees.jpg');
  background-size: cover;
}
.header {
  padding-top: 40px;
}
h1{
  color: white;
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
  text-shadow: 2px 2px 5px #000;
}

.banner h5{
  color: white;
  text-align: center;
  text-shadow: 1px 1px 3px #000;
}

.habit-info{
  color: white;
  background-color: #00838f;
}

.front-articles {
  padding: 20px;
  padding-bottom: 60px;
}

// ** styling for aout page ** //
.about-heading {
  color: white;
  font-size: 20px;
}
.about-p {
  color: #C7D3DD;
  font-size: 16px;
}

.about-box{
  margin: 10px;
}
// ** styling for habits page ** //

h3, h4, h5 {
  color: white;
}

.profilepic {
  flex: 1;
  height: 100px;
}

.username {
  display: inline-block;
  color: white;
  font-size: 25px;
  padding-left: 15px;
  padding-bottom: 10px;
}

.edit{
  color: #B1DCDE;
  padding-left: 5px;
  font-size: 20px;
}

#habit-text {
  font-size: 22px;
  color: #006064;
}

.check {
  color: #76ff03;
  font-size: 32px;
  padding-left: 16px;
  vertical-align: bottom;
}
.check-off {
  color: white;
  font-size: 20px;
  padding: 15px;
}
.habit-list{
  margin-top: 20px;
}
#habit-list{
  padding: 10px 20px;
}
.others {
  background-color: #039be5;
  color: white;
}
.search {
  font-size: 30px;
  padding-right: 10px;
}
.friend-name{
  color: white;
  font-size: 18px;
}
.add-friend {
  margin-top: 30px;
}
// ** styling for habit detail page ** //
.habit-detail label {
  color: #b2ff59;
  font-size: 18px;
}

.habit-detail {
  color: white;
  font-size: 18px;
}

.stars{
  background-color: white;
}
.collection .collection-item {
  padding: 0px;
}
.stars-list {
  font-size: 10px;
  text-align: center;
}

.star {
  display: inline-block;
  color: #64dd17;
  padding: 1px;
}

.searchAdd{
  color: #E3E3E3;
  font-size: 17px;
}
.search{
  color: #E3E3E3;
  vertical-align: bottom;
}
.articles h6{
  font-size: 20px;
  line-height: 1.5;
  color: white;
  padding: 15px;
}

// ** styling for challenges page ** //
.participants h6 {
  color: #24282F;
}
.challenge {
  color: #009587;
}

// ** styling for friends page ** //
.friend-username {
  text-align: center;
}
.profile-pic{
  text-align: center;
}

// ** styling for navbar ** //
.navbar {
  background-color: #70BBBF;
}

.button-collapse {
  color: #fff;
  position: absolute;
  top: 14px;
  left: 10px;
  i {
    font-size: 32px;
  }
}

// ** styling for modals ** //

label {
  font-size: 16px;
}

// ** styling for footer ** //
.footer {
  background-color: #70BBBF;
  padding: 7px;
}
.copyright {
  color: #f1f8e9;
  font-size: 14px;
  padding-left: 10px;
}
