
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
// @import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Import Materialize
@import '../../node_modules/materialize-sass/sass/materialize.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: #00838f;
}

// ** styling for splash page ** //
nav a{
  color: blue;
  float: right;
  display: inline-block;
}
nav h4{
  color: lightgrey;
  display: inline-block;
}

.banner{
  background-image: url('../images/lavender-trees.jpg');
  background-size: cover;
}

h1{
  color: white;
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
  text-shadow: 2px 2px 5px #000;
}

h5{
  color: white;
  text-align: center;
  text-shadow: 1px 1px 3px #000;
}

.habit-info{
  color: white;
}

// ** styling for habits page ** //

h3 {
  color: white;
}

.user-profile img {
  flex: 1;
  height: 100px;
  resize: both;
}

.user-profile img{
  display: inline-block;
}
.user-profile h3{
  display: inline-block;
  font-size: 30px;
  padding-left: 15px;
}

#habit-text {
  font-size: 22px;
}

// ** styling for habit detail page ** //
.habit-detail label {
  color: yellow;
  font-size: 18px;
}

.habit-detail {
  color: white;
  font-size: 18px;
}

.stars-list {
  font-size: 15px;
}

.stars {
  display: inline-block;
}

// ** styling for navbar ** //
.navbar {
  background-color: #70BBBF;
}

// ** styling for modals ** //

label {
  font-size: 16px;

}
